.remedy-modal-header {
    button {
        outline: none !important;
        border: none !important;
        font-size: 26px;
        background-color: transparent !important;
        color: white !important;
    }
}