.manage-doctor-container {
    padding: 10px;

    .manage-doctor-title {
        text-align: center;
        font-size: 25px;
        margin: 10px 0;
        font-weight: bold;
        text-transform: uppercase;
    }

    .more-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-bottom: 20px;
    }

    .manage-doctor-editor {}

    .btn-detail-doctor {
        margin: 10px 0;
        outline: none;
        border-radius: 5px;
        color: white;
        border: none;
        cursor: pointer;
        padding: 7px;

        &:hover {
            opacity: 0.8;
        }
    }

    .create-content-doctor {
        background-color: rgb(57, 47, 255);
    }

    .save-content-doctor {
        background-color: green;
    }
}