.preview-image-container {
    display: flex;
    gap: 20px;

    .label-upload {
        background: #ddd;
        padding: 5px;
        border-radius: 3px;

        &:hover {
            opacity: 0.9;
            cursor: pointer;
        }
    }

    .preview-img {
        height: 185px;
        width: 200px;
        background: center center no-repeat;
        background-size: contain;

    }

}