.mainVideo {
    height: 100% !important;
    cursor: pointer;
}

.minVideo {
    position: absolute;
    top: 20px !important;
    right: 20px !important;
    height: 20% !important;
    cursor: pointer;
}