.doctor-detail-container {
    margin: 0;
    margin-top: 60px;

    .intro-doctor {
        padding: 20px 100px;
        display: flex;
        height: 150px;

        .content-left {
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;

            .avatar-doctor {
                width: 130px;
                height: 130px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 50%;
                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
            }
        }

        .content-right {
            width: auto;
            display: flex;
            flex-direction: column;
            padding: 5px 10px 10px 15px;

            .doctor-title {
                font-size: 23px;
                font-weight: bold;
                margin-bottom: 1px;
            }

            .doctor-description {}
        }
    }

    .schedule-doctor {
        padding: 10px 100px;
        display: flex;
        min-height: 200px;


        .content-left {
            border-right: 2px solid #ddd;
            width: 50%;
        }

        .content-right {
            width: 50%;
        }

    }

    .detail-info-doctor {
        line-height: 1.4;
        background-color: rgb(205, 201, 201);
        padding: 20px 100px;

        img {
            width: 100%;
        }

        p {
            margin: 0;
        }
    }
}