.intro-doctor {
    display: flex;
    padding-bottom: 20px;

    .content-left {
        width: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .avatar-doctor {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
        }

        .more-info {
            margin-top: 10px;
            cursor: pointer;
            color: #45c3d2;
        }
    }

    .content-right {
        width: auto;
        display: flex;
        flex-direction: column;
        padding: 5px 10px 10px 15px;

        .doctor-title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 1px;
            color: #45c3d2;

        }

        .doctor-description {}

        .clinic-time {
            display: flex;
            flex-direction: column;
        }
    }
}