.register-background {
    background-image: url(../../assets/background-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    height: 100vh;

    .register-header-text {
        padding-top: 40px;
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px #333;
        color: white;
    }

    .register-container {
        display: flex;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        margin: auto;
        bottom: 0;
        width: 1000px;
        height: 500px;

        background-color: white;

        .register-content-left {
            background-image: url(../../assets/background-login2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0.7;
            width: 60%;
        }

        .register-content-right {
            background-color: white;
            width: 40%;
            padding: 15px 40px;

            .register-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 15px 0;

                .logo {
                    background-image: url(../../assets/logo.svg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    height: 30px;
                    width: 140px;
                    margin: 0 10px;
                }

                .register-header-text {
                    margin: 0;
                    padding: 0;
                    color: #49bce2;
                    text-transform: uppercase;
                }
            }



            .register-input {
                padding: 4px 0;

                .custom-input-password {
                    position: relative;
                }

                i {
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    cursor: pointer;
                }
            }

            .textLink {
                display: flex;
                justify-content: space-between;
                left: 0;
                padding-bottom: 20px;

                .forgot-password {
                    text-decoration: none !important;

                }
            }
        }

        .btn-register {
            outline: none;
            border: none;
            width: 40%;
            background: #00b24d;
            height: 35px;
            margin: 10px 0 4px 0;
            color: white;
            font-size: 18px
        }

        .forgot-password {
            font-size: 12px
        }

        .switch-register {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            .text-switch {
                font-size: 14px;
                font-weight: 400;
            }

            button {
                font-weight: bold;
                border: none;
                outline: none;
                padding: 5px 15px;
                background-color: transparent;
                border: 3px double black;

                &:hover {
                    border: 3px double #00b24d;
                    background-color: #00b24d;
                    color: white;
                }
            }
        }

        .social-register {
            margin-top: 10px;
            display: flex;
            justify-content: center;

            .icon-google {
                color: white;
                background-color: rgb(251, 118, 61);
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 35px;
                margin-right: 10px;
            }

            .icon-facebook {
                color: rgb(47, 71, 221);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 50px;
                margin-left: 10px
            }
        }
    }
}