.home-header-container {
    height: 60px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    background: white;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 30%;
            display: flex;
            align-items: center;
            margin: 0 auto;
            justify-content: center;

            .header-logo {
                background: url('../../assets/logo.svg') center no-repeat;
                height: 40px;
                width: 160px;
                cursor: pointer;
                margin-left: 10px;

                cursor: pointer !important;
            }

            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;

            }
        }

        .center-content {
            width: 40%;

            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                cursor: pointer;

                .subs-title {
                    font-weight: 400;
                    font-size: 12px;

                }
            }
        }

        .right-content {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;

            .user-info {
                margin-right: 15px;
                display: flex;
                gap: 10px;
                font-size: 16px;

                .text-singin {
                    cursor: pointer;
                    font-weight: 500;

                    &:hover {
                        color: #49bce2;
                    }
                }

                .dropdown {

                    .avatar-user {
                        width: 40px;
                        height: 40px;
                        background-image: url('../../assets/avatar.png');
                        border-radius: 50%;
                        border: 1px solid #ccc;
                        background-color: #959595;
                        background-position: center center;
                        background-size: cover;
                        cursor: pointer;
                    }


                }

                .name-user {
                    display: flex;
                    align-items: center;
                    font-weight: 500;
                }


            }

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;

                i {
                    font-size: 16px;
                    margin-right: 5px;
                    color: #49bce2;
                }
            }



            .language-vi {
                cursor: pointer;
                opacity: 0.2;

                &.active {
                    color: orange;
                    opacity: 1;
                }

                &:hover {
                    color: orange;
                    opacity: 0.5;
                }
            }

            .select-language {
                width: 20%;
                outline: none !important;
                font-weight: 500;
            }

            .language-en {
                margin-left: 10px;
                cursor: pointer;

                opacity: 0.2;

                &.active {
                    color: blue;
                    opacity: 1;
                }

                &:hover {
                    color: blue;
                    opacity: 0.5;
                }
            }
        }
    }
}

.home-header-banner {
    margin-top: 60px;
    background: url('../../assets/headerbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;




    .content-up {
        padding-top: 30px;
        height: 60%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1));


        .title1 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
            color: white;
        }

        .title2 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            color: white;
            margin-bottom: 30px;

        }

        .search {
            display: flex;
            margin: 0 auto;
            align-items: center;
            padding: 7px 10px;
            width: 400px;
            border-radius: 50px;
            background: #f7d800;
            position: relative;


            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 360px;
                border: none;
                outline: none;
                background-color: transparent;
            }

            .nomination {
                border: 1px solid #ccc;
                left: 3px;
                top: 60px;
                position: absolute;
                width: 100%;
                min-height: 50px;
                max-height: 60vh;
                z-index: 10;
                background-color: white;
                overflow: scroll;


                .box-search-section {
                    .name-section {
                        background-color: #f5f5f5;
                        padding: 3px 10px;
                        font-size: 16px;
                        height: 25px;
                        font-weight: 500;
                    }

                    .wrap-section {
                        padding: 3px 10px;

                        .section {
                            padding: 5px 0;
                            display: flex;
                            gap: 10px;

                            .section-img {
                                height: 30px;
                                width: 30px;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center;

                                cursor: pointer;

                                &:hover {
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

                                }
                            }

                            .name {}
                        }
                    }
                }
            }
        }

    }

    .content-down {
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {

            display: flex;
            justify-content: center;
            gap: 10px;

            .option-child {
                width: 150px;
                height: 110px;

                text-align: center;
                padding: 5px;
                cursor: pointer;

                .icon-child {
                    background: white;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
                    font-size: 30px;
                    text-align: center;
                    margin: 0 auto;
                }

                .text-child {
                    font-weight: bold;
                    font-size: 16px;

                }

                &:hover {
                    color: #49bce2;
                }
            }

        }
    }

}