.item-notification {
    width: 310px;
    padding: 5px;
    border-radius: 4px;
}

.item-notification:hover {
    background-color: #cccccc70;
    cursor: pointer;
}

.notification-content {
    max-height: 400px;
    overflow: auto;


}

.notification-content::-webkit-scrollbar {
    width: 5px;
    padding-left: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}